.container{
    // border: 1px solid rgba(211, 211, 211, 0.589);
    border-radius: 4px;
    padding: 6px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;
    margin-bottom: 40px;

}

.postFooter{
    margin-top: 12px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6px 0px 6px;
    min-width: 100%;
    border-top: 1px solid rgba(211, 211, 211, 0.541);
}
.postImg{
 max-width: 100%;
    max-height: 285px;
    border-radius: 9px;
    width: 100%;
    object-fit: cover;
}

.imgContainer{
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 48px;
    padding: 3px;
    border-bottom: 1px solid lightgrey;
    width: 97%;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.headerFirst{
    display: flex;
    align-items: center;
    img{
        margin-right: 5px;
    }
}


// heart code
body {
    background: #333;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    font-size: 3em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  
  .heart {
    background-color: red;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }

  .commentsContainer{
      width: 100%;
      margin-top: 12px;
      div{
          input{
              border-radius: 6px;
              padding: 4px;
              border: 1px solid grey;
              outline: none;
              width: 83%;
              height: 40px;
          }
          button{
              width: auto;
              height: 23px;
              color: white;
              margin-left: 10px;
              border-radius: 7px;
              background: rgb(22, 196, 22);
              border: 1px solid lightgray;
              font-size: 12px;
          }
      }
  }